$background-color: #fff;
$viewport-background-color: #dae2da;
$sidebar-background-color: #f1f1ee;
$accent-color: #8eb1a4;
$text-color: #090806;
$border: 1px solid $text-color;

body {
	margin: 0;
	padding: 0;
	background-color: $background-color;
}

.app {
	display: flex;
	width: 100%;
	height: 100dvh;
	color: $text-color;
}

.hidden {
	display: none;
}

.sidebar {
	background-color: $sidebar-background-color;
}

.sidebar-btn {
	display: flex;
	padding: 0.3em;
	border: none;
	cursor: pointer;
	background-color: $accent-color;
}

.sidebar-btn-closed {
	justify-content: center;
	width: 100%;
	background-color: transparent;
}

.inputs-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 1em;

	.input-container {
		display: flex;
		flex-direction: column;
		width: 90%;
	}
}

input {
	background-color: transparent;
	color: inherit;
	border: 2px solid $accent-color;
	padding: 0.3em;
}

.grid {
	display: grid;
	grid-template-columns: auto;
	width: 100%;
	padding: 0.2em;
	overflow: auto; /*  Enable scrolling if necessary */
}

.row {
	display: flex;
	width: 100%;
}

.viewport-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 1px;
	border: $border;
	background-color: $viewport-background-color;
}
